@media (min-width: 0px) {
    body * {
        font-size: 12px;
    }
}

@media (min-width: 510px) {
    body * {
        font-size: 14px;
    }
}

.containerBorder {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

#containerMySecret {
    padding-top: 10px;
    padding-bottom: 10px;
}

#mySecrets {
    display: none;
}

.tagcontainer {
    float: left;
    margin-right: 4px;
    font-size: 10px;
    background-color: #99CCFF;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 2px;
}

#mySecrets > .nav {
    margin-bottom: 5px;
}

#containerComments > .nav {
    margin-top: 5px;
}

/* jquery autocomplete menu is behind the bootstrap modal dialog by default */
ul.ui-autocomplete.ui-menu {
  z-index: 10000;
}

.commentDate {
    margin-right: 5px;
}

.inputDisabled[disabled] {
    cursor: default;
    background-color: white;
}

.input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 30px;
}

button.newCategoryDoc {
    margin-top:-4px
}