{% extends 'layout.html' %}
{% block content %}
<div id="containerComments" class="col-md-9 containerBorder">
    <div class="nav">
        <button id="btnCreateComment" data-toggle="modal"
                data-target="#saveComment" class="btn btn-primary">Enter A New
            Comment</button>
    </div>
    <div id="myComments">
        <table class="table table-striped">
            <thead>
            <tr><td><span class="h3">Comments</span></td></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/javascript"
        src="{{ url_for('static', filename='js/comment.js')}}"></script>
</div>
{% endblock %}