{% extends 'layout.html' %}
{% block content %}
<div id="containerMySecret" class="col-md-9 containerBorder">
    <div id="setPassphrase">
        <div class="form-group">
            <label for="passphrase">Passphrase</label>
            <input type="text" class="form-control" id="passphrase" placeholder="Enter passphrase">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <div id="mySecrets">
        <ul class="nav nav-pills">
            <li role="presentation" id="btnCreateSecret" class="active" data-toggle="modal" data-target="#newModal"><a href="#">Enter A New Secret</a></li>
            <li role="presentation" id="btnGeneratePassword" class="visible-md visible-lg"><a href="#">Generate Password</a></li>
            <li role="presentation" id="btnExportSecrets" class="visible-lg"><a href="#">Export Secrets</a></li>
            <li role="presentation" id="btnImportSecrets" class="visible-lg"><a href="#">Import Secrets</a></li>
            <li role="presentation" id="btnClearPassphrase" class="visible-lg"><a href="#">Clear Passphrase</a></li>
        </ul>
        <div id="mySecretEntries"></div>
    </div>
    <script type="text/javascript">var prefix = '{{prefix}}';</script>
</div>
{% endblock %}
