{% extends 'layout.html' %}
{% block content %}
<div id="containerMySecret" class="col-md-9 containerBorder">
    <div id="setPassphrase">
        <div class="form-group">
            <label for="passphrase">Passphrase</label>
            <input type="text" class="form-control" id="passphrase" placeholder="Enter passphrase">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
    <div id="mySecrets">
        <div class="nav">
            <button id="btnCreateSecret" data-toggle="modal" data-target="#newModal" class="btn btn-primary">Enter A New Secret</button>
            <button id="btnGeneratePassword" class="btn">Generate Password</button>
            <button id="btnExportSecrets" class="btn">Export Secrets</button>
            <button id="btnImportSecrets" class="btn">Import Secrets</button>
            <button id="btnClearPassphrase" class="btn pull-right">Clear Passphrase</button>
        </div>
        <div id="mySecretEntries"></div>
    </div>
    <script type="text/javascript">var prefix = '{{prefix}}';</script>
</div>
{% endblock %}
